@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 기본 폰트 설정 */
html {
  font-family: var(--font-nanum-gothic), var(--font-roboto), sans-serif;
}

/* 한글 텍스트에는 Nanum Gothic 적용 */
:lang(ko) {
  font-family: var(--font-nanum-gothic), sans-serif;
}

/* 영어 텍스트에는 Roboto 적용 */
:lang(en) {
  font-family: var(--font-roboto), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
